@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var Username = "Ali";
    var year = 2024;
    var people = new string[] {"John","Mary","Sarah"};
}

<div class="text-center">
    @{year=2020;}
    <h1 class="display-4">Welcome</h1>
    <h2> This is only for week2 </h2>
    <h3> My username is : @Username <h3>
    <h4> The current time is: @DateTime.Now </h4>
    <p>@year is a leap year : @DateTime.IsLeapYear(@year)</p>
    <p>Last week this time: @(DateTime.Now - TimeSpan.FromDays(14))</p>

    
    @*@{var i = 1;}
    @foreach (var person in people)
    {
        <p>Name_@i: @person</p>
        i++;
        
    }*@
 @for (var i = 1; i <= people.Length; i++)
    {
        var person = people[i-1];
        <p> Name_@(i): @person</p>
    } 



    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
